<app-navbar></app-navbar>

<div class="container mt-5">
  <div appRedBorder="green">bonjour</div>
  <h1>Liste</h1>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th scope="col">Photo</th>
        <th scope="col">Nom & prénoms</th>
        <th scope="col">Sex</th>
        <th scope="col">Satus</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let person of persons">
        <th scope="row">{{person.photo}}</th>
        <td>{{person.name}}</td>
        <td>{{person.sex == 1 ? 'M' : 'F'}}</td>
        <td>{{ person.status == 1 ? '✅' : '❌'}}</td>
        <td>
          <a class="btn btn-sm btn-outline-info" href="#" role="button" (click)="updateSatus(person)">
            {{person.status === 1 ? 'Désactiver': 'Activer'}}
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
