<app-navbar></app-navbar>

<div class="container mt-5">
  <h1>Liste</h1>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th scope="col">Photo</th>
        <th scope="col">Nom & prénoms</th>
        <th scope="col">Sex</th>
        <th scope="col">Satus</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">pic</th>
        <td>Yao Leonardo</td>
        <td>M</td>
        <td>✅</td>
        <td>
          <a class="btn btn-sm btn-outline-info" href="#" role="button">Active </a>
        </td>
      </tr>
      <tr>
        <th scope="row">pic</th>
        <td>Emeline Grace </td>
        <td>F</td>
        <td>❌</td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
